.Onama,
.Kontakt,
.Pocetna {
    margin:  0;
    padding: 10%;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItems {
    margin: 0px;
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #40A4C8;
}


.InputElement{
    position: relative;
    margin-left: 20%;

}